@charset "utf-8";
/* CSS Document */
body {
		background: #e3e3e3;
}
.nav1 {
		width: 100%;
		height: 50px;
		border-radius: 12px;
		background: #e3e3e3;
		box-shadow: 9px 9px 18px #bababa, -9px -9px 18px #ffffff;
		text-align: center;
}
h1 {
		padding-top: 10px;
}
.listdiv {
		margin: 0 auto;
		margin-top: 20px;
		height: auto;
		width: 80%;
		border: 1px;
		text-align: center;
		border-radius: 10px;
		box-shadow: -2px -2px 2px rgba(255, 255, 255, 1), -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
}
li {
		width: 100px;
		height: 30PX;
	 	display:inline-block;
		margin: 10px;
		border: none;
		border-radius: 5px;
		background: #e3e3e3;
		box-shadow: 5px 5px 6px #d9d9d9, -5px -5px 6px #ffffff;
}
li:hover {
		border-radius: 10px;
		background: #e3e3e3;
		box-shadow: inset -2px -2px 2px rgba(255, 255, 255, 1), inset -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), inset 2px 2px 8px rgba(0, 0, 0, 0.15);
}
span {
		width: 100px;
		text-align: center;
		display: block;
		border-radius: 5px;
		color: aliceblue;
		font-weight: bold;
		background: #1890ff;
		box-shadow: 5px 5px 10px #beb8b8, -5px -5px 10px #fff8f8;
}
.foot {
		margin: 0 auto;
		margin-top: 20px;
		height: auto;
		width: 80%;
		border: 1px;
		text-align: center;
		border-radius: 10px;
		box-shadow: -2px -2px 2px rgba(255, 255, 255, 1), -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
}
.foot b {
		font-size: 8px;
}
a {
		text-decoration: none;
		color: inherit;
}